:root {
    picking-mode: ignore;
}

.text {
    -unity-font-definition: url("project://database/Assets/Font/Daydream%20DEMO.otf?fileID=12800000&guid=4cc08605ed5d34709ad2e2b3e172fa7b&type=3#Daydream DEMO");
    -unity-font-style: normal;
    font-size: 52px;
}
