:root {
    picking-mode: ignore;
}

.text {
    -unity-font-definition: url("project://database/Assets/Font/GrapeSoda.ttf?fileID=12800000&guid=1ce24602d69ad9348b3d31800d2bee86&type=3#GrapeSoda");
    -unity-font-style: normal;
    font-size: 52px;
}
